{% extends 'repelis/base.html' %}

{% block title%}Contacto{% endblock%}

{% block content %}
<div class="container py-4">
    <div class="h2">
        <h3 class="text-center">Contacto</h3>
    </div>
    <form id="formulario">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text" style="color: purple;">Por favor ingrese su nombre.</div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Correo</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text" style="color: purple;">Por favor ingrese su correo.</div>
        </div>
        <div class="form-floating mb-4">
            <textarea class="form-control" placeholder="Leave a comment here" style="height: 100px">
            </textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-4">Submit</button>
    </form>

    <div class="container mb-4">
        <div class="text-center">
            <p class="alert alert-warning">Nos contactaremos contigo!</p>
        </div>
    </div>
</div>

<script>
    const formulario = document.getElementById('formulario');
    formulario.addEventListener('submit', function(event){
        const nameInput = document.getElementById('name');
        const name = nameInput.value.trim();

        if (name){
            alert(name + ' ' +'su mensaje fue enviado con exito!')
        } else {
            alert('No se pudo enviar')
        }

    })
    
</script>

{% endblock %}