{% extends 'repelis/base.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<div class="container py-4 text-center">
    <div class="row">
        <div class="card-body m-4">
            <h2 class="alert alert-warning">
                Ver Películas y Series Online Gratis en Español Latino
            </h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-sm-8 mx-auto">
            <div class="ratio ratio-16x9">
                <iframe src="https://www.youtube.com/embed/dH4UbSV8gpY?si=0Mwn_IOAV42ZHNc1" title="YouTube video player"
                    allowfullscreen referrerpolicy="strict-origin-when-cross-origin"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share">
                </iframe>
            </div>
        </div>
    </div>
</div>

<!-- footer -->

<div class="card text-center bg-black text-white">
    <div class="card-header">
        El mejor para el mejor!
    </div>
    <div class="card-body">
        <h5 class="card-title">Repelis © 2025</h5>
        <p class="card-text"> Todos los derechos reservados.
            Esta plataforma fue creada con fines educativos como parte de un proyecto académico. Repelis es un sitio
            ficticio dedicado a la difusión de información sobre películas y entretenimiento. No alojamos contenido
            protegido por derechos de autor
            ni promovemos la piratería. Gracias por visitar nuestro sitio </p>
        <a href="#" class="btn btn-primary">Suscríbete</a>
    </div>
    <div class="card-footer text-body-white ">
        Estudiante Hans Saldias
    </div>
</div>


{% endblock %}